name: Release

on:
  release:
    types: [published]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  release:
    name: release ${{ matrix.target }}
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: x86_64-pc-windows-gnu
            archive_type: zip
            archive_name: lenovo_logo_changer_win_x86_64
            binary_name: lenovo-logo-changer.exe
          - target: x86_64-unknown-linux-gnu
            archive_type: tar.gz
            archive_name: lenovo_logo_changer_linux_x86_64
            binary_name: lenovo-logo-changer
    steps:
      - uses: actions/checkout@master
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}
      - name: Install mingw-w64
        if: matrix.target == 'x86_64-pc-windows-gnu'
        run: sudo apt install mingw-w64 -y
      - name: Build
        run: cargo build --verbose --target ${{ matrix.target }} --release
      - name: Create archive
        run: |
          mkdir -p release_tmp
          cp target/${{ matrix.target }}/release/${{ matrix.binary_name }} release_tmp/
          cp README.md LICENSE release_tmp/
          cd release_tmp
          if [ "${{ matrix.archive_type }}" = "zip" ]; then
            zip -r ../${{ matrix.archive_name }}.zip *
          else
            tar czf ../${{ matrix.archive_name }}.tar.gz *
          fi
      - name: Upload to Release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./${{ matrix.archive_name }}${{ matrix.archive_type == 'zip' && '.zip' || '.tar.gz' }}
          asset_name: ${{ matrix.archive_name }}${{ matrix.archive_type == 'zip' && '.zip' || '.tar.gz' }}
          asset_content_type: ${{ matrix.archive_type == 'zip' && 'application/zip' || 'application/gzip' }}
