name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Install target
        run: rustup target add x86_64-pc-windows-gnu --toolchain nightly
      - name: Install mingw-w64
        run: sudo apt install mingw-w64 -y
      - name: Build for Windows GNU
        run: cargo build --verbose --target x86_64-pc-windows-gnu --release --locked
      - name: Build for ubuntu
        run: cargo build --verbose --release --locked
      - name: Upload Windows GNU binary
        uses: actions/upload-artifact@v4
        with:
          name: lenovo-logo-changer-win-x86_64-${{ matrix.runs-on }}
          path: target/x86_64-pc-windows-gnu/release/lenovo-logo-changer.exe
      - name: Upload Ubuntu binary
        uses: actions/upload-artifact@v4
        with:
          name: lenovo-logo-changer-linux-x86_64-${{ matrix.runs-on }}
          path: target/release/lenovo-logo-changer
